.app {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.game {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.status {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.status > button {
	border: none;
	padding: 6px 10px;
	background: #c0c0c0;
	cursor: pointer;
	border-radius: 4px;
	transition: background 0.3s ease;
}

.status > button:hover {
	background: #d7d7d7;
}

.board {
	display: grid;
	gap: 8px;
}

.square {
	height: 100px;
	width: 100px;
	border: none;
	cursor: pointer;
	transition: background 0.3s ease;
	background: #e4e4e4;
	color: rgb(31, 31, 31);
	font-size: 32px;
}

.square:hover {
	background: lightgray;
}

.square:disabled {
	cursor: not-allowed;
	background: #e4e4e4;
}
